Lab1/build/*
Lab1/nbproject/*
Lab1/test/*
Lab1/src/ui/*.form
/Lab1/dist/

Lab2/build/*
Lab2/nbproject/*
Lab2/test/*
Lab2/src/ui/*.form
/Lab2/dist/
/Lab2-Part3-4/Part3-4/nbproject/private/
/Lab2-Part3-4/Part3-4/build/
/Lab4/FinalProject/nbproject/private/
